html{
    box-sizing: border-box;
}
*,
::after,
::before{
    box-sizing: inherit;
}
html, body {
    height: 100%;
}

body{
    font-family: 'Outfit', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:  #fff;
    font-family: 'Outfit', sans-serif;
    font-size: 28px;
    font-weight: 400;
}

.active{
    color: #9BE7FF;
}

.container{
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 10px;
}

/*Header*/
.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.fixed-header {
  position: fixed;
  background-color: rgba(162, 162, 162, 0.7); /* Задайте желаемый фон в фиксированном состоянии */
  z-index: 1000; 
}

.fixed-header .header__inner{
    padding-top: 0px;
    padding-bottom: 0px;
}

.header__inner{
    padding-top: 20px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list{
    display: flex;
    gap: 30px;
}

.menu__link{
    transition: all .3s;
}

.menu__link:hover{
    color: #9BE7FF;
}

/* Intro*/

.intro{
    display: flex;
    width: 100%;
    height: 100vh;
    background: url(../images/bg.jpg)no-repeat center;
    background-size: cover ;
    flex-direction: column;
    justify-content: center;
}

.intro__inner{
    display: inline-block;
    text-align: center;
    left: 0;
    padding: 10px 100px;
}

.lng-title1{
    color: #FFF;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 80px;
    font-weight: 800;
}

.lng-title1 em{
    font-style: normal;
    color: #9BE7FF;
}
.lng-title2{
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 80px;
    font-weight: 800;
}

.lng-subtitle{
    color: #FFF;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    font-size: 47px;
    font-weight: 300;
}

/*Buttom*/
/*#D2A3DD*/
.button{
    position: relative;
    color: #9BE7FF;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 400;
    overflow: hidden;
    letter-spacing: 4px;
    padding: 15px 30px;
    transition: .2s;
    margin-top: 38px;
}

.button__line{
    position: absolute;
    display: block;
    
}

.button__line--top{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(90deg,transparent,#9BE7FF);
    
}

.button:hover .button__line--top{
    left: 100%;
    transition: 1s;
    transition-delay: .025s;
}

.button__line--bottom{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background:linear-gradient(270deg,transparent,#9BE7FF);
    
}

.button:hover .button__line--bottom{
    right: 100%;
    transition: 1s;
    transition-delay: .025s;
}

.button__line--left{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(0deg,transparent,#9BE7FF);
    
}

.button:hover .button__line--left{
    bottom: 100%;
    transition: 1s;
    transition-delay: .025s;
}

.button__line--right{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background:linear-gradient(0deg,transparent,#9BE7FF);
    
}

.button:hover .button__line--right{
    top: 100%;
    transition: 1s;
    transition-delay: .025s;
}

.button:hover {
    box-shadow: 0 0 10px #9BE7FF, 0 0 30px #9BE7FF;
    background-color: #9BE7FF;
    color: #fff;
    transition-delay: .5s;
}

/*Offer*/

.offer{
    margin-top: 66px;
}

.title{
    color: #D377FF;
    font-family: 'Outfit', sans-serif;
    font-size: 72px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 26px;
}

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 147px;
    margin-bottom: 95px;
}

.products {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    margin: 0 auto;
}

.products:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.product__item{
    background-color: #E1E1E1;
    color: #80B2FF;
    font-family: 'Inter',sans-serif;
    font-size: 17px;
    font-weight: 600;
}


.product__img {
    width: 339px;
    height: 332px;
    flex-shrink: 0;
    padding-bottom: 29px;
}


.product__title {
color: #9DB9FF;
text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.25);
font-family: 'Inter', sans-serif;
font-size: 36px;
font-weight: 400;
    text-align: center;
    padding-bottom: 14px;
}

.product__info{
    padding: 0 15px;
}

.product__icon {
    width: 24px; /* Размер иконок, можно настроить по вашему выбору */
    height: 24px;
    margin-right: 10px; /* Расстояние между иконкой и текстом */
}

.product__cpu{
    display: flex;
    padding-bottom: 16px;
    align-items: center;
}

.product__video{
    display: flex;
    padding-bottom: 16px;
    align-items: center;
}

.product__ram{
    display: flex;
    padding-bottom: 16px;
    align-items: center;
}

.product__disk{
    display: flex;
    padding-bottom: 50px;
    align-items: center;
}

.button.product__button{
    margin-top: 20px;
}



/*Player*/

.player{
    display: flex;
    width: 100%;
    height: 100vh;
    background: url(../images/bg2.jpg)no-repeat center;
    background-size: cover ;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.player__text{
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 38px;
    font-weight: 200;
    text-align: center;
    padding-bottom: 65px;
}

.player__title{
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    font-size: 89px;
    font-weight: 300;
    padding-bottom: 65px;
}

.player__link{
    font-family: 'Inter',sans-serif;
    font-size: 33px;
    font-weight: 200;
    position: relative;
    transition: all 0.3s;
}

.player__link::after {
  content: ''; 
  position: absolute;
  left: 0; 
  bottom: -2px; 
  width: 100%; 
  height: 2px; 
  background: #eb7dff; 
  opacity: 0; 
  transition: opacity 0.3s;
}

.player__link:hover::after {
  opacity: 1; 
}

.player__link:hover{
    opacity: 0.7;
}


/*advantages*/
.advantages__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:150px;
    padding-bottom: 123px;
}

.advantages__title{
    margin-bottom: 100px;
}

.advantages__item {
    display: flex;
    align-items: center;
    border-radius: 100px;
    background: #9554FF;
    box-shadow: 4px 2px 4px 0px rgba(0, 0, 0, 0.25);
    width: 682px;
    height: 110px;
    margin-bottom: 50px;
    position: relative;
    transition: all .3s;
    z-index: 2;
}

.advantages__img{
    width: 61px;
    height: 61px;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #ACFFA5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 34px;
    margin-left: 10px;
}

.advantages__subtitle{
    color: #FFF;
    font-family: 'Inter',sans-serif;
    font-size: 26px;
    font-weight: 300;
    padding-bottom: 4px;
    transition: all .3s;
}


.advantages__text{
    color: #FFF;
    font-family: 'Inter',sans-serif;
    font-size: 16px;
    font-weight: 200;
    transition: all .3s;
}

.advantages__item:hover{
    width: 850px; 
    background: #a66fff;
}


.advantages__item::before {
    content: '';
    background: url('../images/icon/stick_a.svg') no-repeat center center;
    background-size: 100%;
    width: 26px;
    height: 49px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s;
    opacity: 0.56; 
}

.advantages__item:hover::before {
    opacity: 1;
}

.advantages__bg {
    position: absolute;
    right: 0;
    padding: 0 15px;
    z-index: 1;
}

/*Footer*/
.footer{
    padding-top: 40px;
    background: linear-gradient(180deg, #000 0%, #A9A9A9 0.01%, rgba(17, 0, 44, 0.56) 19.79%);
}

.footer__center{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
}

.footer__icon{
    transition: all .3s;
}

.footer__icon:hover{
    fill:#A6BFFF;
}

.footer__name{
    color: #FFF;
    font-family: "Outfit", sans-serif;
    font-size: 19px;
    font-weight: 700;
    padding: 0;
}

.footer__left{
    display: flex;
    align-items: center;
    gap:20px;
    padding-bottom: 15px;
}

.footer__reserved{
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.footer__policy{
    color: #FFF;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
}
